
.custom-ul {
  width: 200px;
  background-color: #CCC;
 }

.liItem:hover {
  background-color: rgba(0, 0, 0, 1.0);
  cursor: pointer;
 }

 .liSubItem:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
 } 
 
 .sideBarExpanded {
   width: 300px;
 }

 .sideBarMinified {
   width: 90px;
 } 

 .toggle-icon{
  width: 40px;
  height: 40px;
}

.tLeft{
  text-align: left;
}

/* dugme */

/* .custom {
  display: none;
  position: absolute;
  top: 4%;
  left: 3%;
  z-index: 20;
} */

/**/

.hover:hover {
  background-color: rgba(0, 0, 0, 1);
}


.lin {
  text-decoration: none !important;
  color:red;
}

.actv {
  color: gold !important;
}

.lin2 {
  text-decoration: none !important;
  color: #fff;
}

/* danas */

.subItemsToSide {
  position: absolute;
  left: 100%;
  top: 0;
}

.border {
  border: 1px solid #FFF;
}

/* bootstrap */

.list-group-item {
  border: none;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-group-item {
  background-color: transparent;
 }

/* bootstrap/ */

/* danas */

 .actv2 {
  background-color: black;
}

.bgBlack {
  background-color: black;
}

.pointer {
  cursor: pointer;
}